{% extends 'dashboard.html' %}

{% block header %}
<!-- empty so the header doesn't show on profile page -->
{% endblock %}

  {% block mynav %}

<form action="{% url 'add_session' %}" method="post" class="p-4 shadow rounded bg-white" enctype="multipart/form-data">
    {% csrf_token %}
<div class="mb-3">
   <label for="session_year_start" class="form-label">Session Year Start</label>
   <input id="session_year_start" name="session_year_start" type="date" class="form-control" required>
</div>
    <div class="mb-3">
   <label for="session_year_end" class="form-label">Session Year End</label>
   <input id="session_year_end" name="session_year_end" type="date" class="form-control" required>
</div>
<button type="submit" class="btn btn-success px-4">
    Add Session
  </button>
        {% if messages %}
   {% for message in messages %}
       <div class="alert alert-danger alert-dismissible" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
           <strong>{{ message }}</strong>
       </div>
   {% endfor %}
{% endif %}

</div>

</form>
 {% endblock %}