{% extends 'dashboard.html' %}

{% block header %}
<!-- empty so the header doesn't show on profile page -->
{% endblock %}

{% block mynav %}
<div class="p-4 shadow rounded bg-white">
  <h3 class="mb-3 text-center">View Notifications</h3>

  <div class="table-responsive">
    <table class="table table-bordered table-hover text-center align-middle">
      <thead class="table-dark">
        <tr>
          <th>Message</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
       {% for i in notification %}
   <tr>
       <th scope="row">{{i.message}}</th>
       <td>
   {% if i.status == 0 %}
<a href="{% url 'notifications_done' status=i.id %}"><button class="btn btn-danger">Mark as Done</button></a>
   {% else %}
   <button class="btn btn-success" disabled="disabled">Mark as Done</button>
   {% endif %}
</td>

   </tr>
{% endfor %}


      </tbody>
    </table>
  </div>
</div>
{% endblock %}
